<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        @Html.ActionLink("Hospital Platform", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile" aria-controls="mobile" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mobile">
            <ul class="navbar-nav ml-auto">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("MyProfile", "Home")">My Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("MyServices", "Appointment")">My Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Ticket")">My Tickets</a></li>
                    if (Application.Helpers.Utility.IsDoctor())
                     {
                         <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" href="#" id="doctor" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 Doctor
                             </a>
                             <div class="dropdown-menu" aria-labelledby="doctor">
                                 <a class="dropdown-item" href="@Url.Action("Confirm", "Appointment")">Appointments</a>
                             </div>
                         </li>
                     }
                    if (Application.Helpers.Utility.IsAdmin())
                     {
                         <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" href="#" id="doctor" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 Admin
                             </a>
                             <div class="dropdown-menu" aria-labelledby="doctor">
                                 <a class="dropdown-item" href="@Url.Action("Index", "ACP")">Users</a>
                                 <a class="dropdown-item" href="@Url.Action("Index", "Category")">Category</a>
                                 <a class="dropdown-item" href="@Url.Action("Index", "Service")">Service</a>
                                 <a class="dropdown-item" href="@Url.Action("Admin", "Ticket")">Tickets</a>
                             </div>
                         </li>
                     }
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Logout", "Account")">Logout</a></li>
                }
                else
                {
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Login", "Account")">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Register", "Account")">Register</a></li>
                }
            </ul>
        </div>
    </div>
</nav>
