@model Application.Models.LoginModel
@{ ViewBag.Title = "Home Page"; }

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col col-sm-12 col-md-6 col-lg-6 p-3 bg-light rounded border">
            @using(Html.BeginForm()) 
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(Model => Model.Email)
                    @Html.EditorFor(Model => Model.Email,  new { htmlAttrhtmlAttributes = new { @class = "form-control"}})
                    @Html.ValidationMessageFor(Model => Model.Email) 
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.Password)
                    @Html.EditorFor(Model => Model.Password,  new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.Password)
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info">Login</button>
                </div>
             }
        </div>
    </div>
</div>
