@model Application.Models.CategoryCreateModel
@{
    ViewBag.Title = "Create Category";
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col col-sm-12 col-md-6 col-lg-6 p-3 bg-light rounded border">
            @Html.Partial("_Alerts")

            @using (Html.BeginForm("CreateAction", "Category"))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(Model => Model.Name)
                    @Html.TextBoxFor(Model => Model.Name, new { @class = "form-control", @placeholder = "Email address" })
                    @Html.ValidationMessageFor(Model => Model.Name, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info">Create</button>
                </div>
            }
        </div>
    </div>
</div>