@model Application.Models.ChangePasswordModel
@using (Html.BeginForm("ChangePassword", "Account"))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(Model => Model.CurrentPassword)
        @Html.PasswordFor(Model => Model.CurrentPassword, new { @class = "form-control", @placeholder = "Password" })
        @Html.ValidationMessageFor(Model => Model.CurrentPassword, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.Password)
        @Html.PasswordFor(Model => Model.Password, new { @class = "form-control", @placeholder = "New Password" })
        @Html.ValidationMessageFor(Model => Model.Password, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.ConfirmPassword)
        @Html.PasswordFor(Model => Model.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password" })
        @Html.ValidationMessageFor(Model => Model.ConfirmPassword, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info">Update</button>
    </div>
}
