@model Application.Models.ServiceListModel
@{
    ViewBag.Title = "Service Page";
}
<div class="container mt-5 p-3 border rounded bg-light">
    @Html.Partial("_Alerts")

    <a href="Service/Create" class="btn btn-info mb-4 mt-3">Creaza Serviciu</a>

    @if (Model.Services.Count == 0)
    {
        <center>
            <h5 class="text-info">No tickets to display</h5>
        </center>
    }
    else
    {
        <table class="table table-striped border rounded">
            <thead>
            <tr>
                <th>Category Name</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var service in @Model.Services)
            {
                <tr>
                    <td>@service.Name</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a class="btn btn-sm btn-info" href="@Url.Action("Edit", "Service", new { id = service.Id})">Edit</a>
                        <a class="btn btn-sm btn-danger" href="@Url.Action("Delete", "Service", new { id = service.Id})">Close</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }

</div>
